<!-- navbar.component.html -->
<nav class="navbar">
  <div class="container">
    <a class="logo" href="#">Yassine's Portfolio</a>
    <ul class="nav-links" [class.active]="menuOpen">
      <li><a routerLink="/">Home</a></li>
      <li><a routerLink="/projects">Projects</a></li>
      <li><a routerLink="/about">About</a></li>
      <li><a routerLink="/contact">Contact</a></li>
    </ul>
    <div class="menu-icon" (click)="toggleMenu()">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
</nav>
