/* You can add global styles to this file, and also import other style files */
body, html {

    background: #121212; /* Matte black effect */
    color: rgb(0, 0, 0); /* Ensures text is visible */
    font-family: 'Orbitron', sans-serif;

  }